# Configuración del Servidor y App
APP_NAME="Numeria API"
DEBUG=True
PORT=8000

# Base de Datos
DATABASE_URL="sqlite:///./numeria.db"

# Claves de Servicios
OPENAI_API_KEY="tu_api_key_aqui"

# Secretos
SECRET_KEY="tu_clave_secreta_aqui"
ALGORITHM="HS256"